---

interface Props {
    type : string;
    title : string;
    id : string;
}

const {type , title, id} = Astro.props;

---

<div class="form-control">
    <label class="label">
    <span class="label-text"> {title} </span>
    </label>
    <input type = {type} placeholder = {title} class="input input-bordered" id = {id}/>
</div>