---
interface Props {
  message: string;
}

const { message } = Astro.props;
---

<div class="toast absolute z-50 hidden" id="toast">
  <div class="alert alert-error">
    <span>{message}</span>
  </div>
</div>
