---
interface Props {
  message: string;
  id: string;
}

const { message , id} = Astro.props;
---

<div class="toast absolute z-50 hidden" id={id}>
  <div class={id=="error" ? "alert alert-error" : "alert alert-success"}>
    <span>{message}</span>
  </div>
</div>
