---
---

<footer>
    <ol class="menu">
        <li>Luminacritics</li>
        <li class="menu-option">Blog</li>
        <li class="menu-option">Sobre nós</li>
        <li class="menu-option">Filmes</li>
        <li class="menu-option">Política de Privacidade</li>
      </ol>
</footer>

<style>
    footer {
        display: flex;
        color: #fff;
        position: relative;
        bottom: 0;
        border-top: 2px solid #303436;
        height: 4em;
        justify-content: center;
    }
    .menu {
        display: flex;
        flex-direction: row;
        column-gap: 2em;
        text-align: center;
        align-items: center;
    }

    .menu-option:hover {
        cursor: pointer;
    }
    
</style>