---

---

<div class="navigation-bar">
    <ol class="menu">
      <li class="menu-option">Home</li>
      <li class="menu-option">Blog</li>
      <li class="menu-option">Filmes</li>
      <li class="menu-option">Listas</li>
      <li class="menu-option">Configurações</li>
    </ol>
  </div>
  
  <style>
  .navigation-bar{
      width: 60%;
  }
    .menu {
      display: flex;
      flex-direction: row;
      column-gap: 1.5em;
      justify-content: center;
  
    }
    .menu-option {
      color: white;
      font-weight: bold;
      font-size: small;
    }
    .menu-option:hover {
      cursor: pointer;
    }
  </style>