---
interface Props {
    title : string;
}

const {title} = Astro.props;
---

<div class = "w-full h-96 pt-20">
    <p class = "w-full uppercase text-2xl text-center underline decoration-blue-500 font-bold absolute"> {title} </p>
    <div class="carousel rounded-box w-full pt-10 absolute">
        <slot />
    </div>
</div>