---
import Layout from '../layouts/pageLayout/pageLayout.astro';
---

	<Layout title="Página Principal">
		<div class="container">
			<h1 class="home-page-greetings">Olá Mundo!</h1>
		</div>
	</Layout>
	
<style>
	.container {
		height: 1000px;
	}
	.home-page-greetings {
		font-size: 1em;
		color: white;
		margin: 1em
	}
	

</style>