---
import Layout from '../layouts/pageLayout.astro';
import StardewBackground from '../components/pageComponents/stardewBackground.astro';
import ContentCard from '../components/pageComponents/contentCard.astro';
import ContentContainer from '../components/pageComponents/contentContainer.astro';
import Carousel from '../components/pageComponents/carousel.astro';
import CarouselItem from '../components/pageComponents/carouselItem.astro';
import List from '../components/pageComponents/list.astro';
---

<Layout title="Página Principal">

	<StardewBackground />

	<Carousel title = "Novidades">
		<CarouselItem 
			imgUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/uuBvVQVRUXYdoBRo0HqOhFOoYRZ.jpg"
			alt = "boku dake ga inai machi"
		/>
		<CarouselItem 
			imgUrl = "https://media.fstatic.com/2KGz9iTGq_EcSoKYRCeH749QD7o=/322x478/smart/filters:format(webp)/media/movies/covers/2011/06/05489415e8f4bbbb7fe4ce86ecc1a66e_1.jpg"
			alt = "avatar a lenda de ang"
		/>
		<CarouselItem 
			imgUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/uuBvVQVRUXYdoBRo0HqOhFOoYRZ.jpg"
			alt = "boku dake ga inai machi"
		/>
		<CarouselItem 
			imgUrl = "https://media.fstatic.com/2KGz9iTGq_EcSoKYRCeH749QD7o=/322x478/smart/filters:format(webp)/media/movies/covers/2011/06/05489415e8f4bbbb7fe4ce86ecc1a66e_1.jpg"
			alt = "avatar a lenda de ang"
		/>
		<CarouselItem 
			imgUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/uuBvVQVRUXYdoBRo0HqOhFOoYRZ.jpg"
			alt = "boku dake ga inai machi"
		/>
	</Carousel>

	<ContentContainer title = "filmes">

		<ContentCard
			title = "Boku dake ga inai machi" 
			imageUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/uuBvVQVRUXYdoBRo0HqOhFOoYRZ.jpg" 
			newContent = "Novo"
			description = "Esse é bom"
			tagOne = "seinen"
			tagTwo = "shounen"

		/>

		<ContentCard
			title = "Boku dake ga inai machi" 
			imageUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/uuBvVQVRUXYdoBRo0HqOhFOoYRZ.jpg" 
			newContent = "Novo"
			description = "Esse é bom"
			tagOne = "seinen"
			tagTwo = "shounen"

		/>

		<ContentCard
			title = "Boku dake ga inai machi" 
			imageUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/uuBvVQVRUXYdoBRo0HqOhFOoYRZ.jpg" 
			newContent = "Novo"
			description = "Esse é bom"
			tagOne = "seinen"
			tagTwo = "shounen"

		/>

		<ContentCard
			title = "Boku dake ga inai machi" 
			imageUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/uuBvVQVRUXYdoBRo0HqOhFOoYRZ.jpg" 
			newContent = "Novo"
			description = "Esse é bom"
			tagOne = "seinen"
			tagTwo = "shounen"

		/>

		<ContentCard
			title = "Boku dake ga inai machi" 
			imageUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/uuBvVQVRUXYdoBRo0HqOhFOoYRZ.jpg" 
			newContent = "Novo"
			description = "Esse é bom"
			tagOne = "seinen"
			tagTwo = "shounen"

		/>
		
	</ContentContainer>

	<div class = "grid grid-cols-4">
		<List title = "Shonen" category = "acao">
			<img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/uuBvVQVRUXYdoBRo0HqOhFOoYRZ.jpg" class = "carousel-item" width = "300px" height = "300px" />
			<img src="https://media.fstatic.com/2KGz9iTGq_EcSoKYRCeH749QD7o=/322x478/smart/filters:format(webp)/media/movies/covers/2011/06/05489415e8f4bbbb7fe4ce86ecc1a66e_1.jpg" class = "carousel-item" width = "300px" height = "300px" />
		</List>

		<List title = "Shoujo" category = "acao">
			<img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/uuBvVQVRUXYdoBRo0HqOhFOoYRZ.jpg" class = "carousel-item" width = "300px" height = "300px" />
			<img src="https://media.fstatic.com/2KGz9iTGq_EcSoKYRCeH749QD7o=/322x478/smart/filters:format(webp)/media/movies/covers/2011/06/05489415e8f4bbbb7fe4ce86ecc1a66e_1.jpg" class = "carousel-item" width = "300px" height = "300px" />
		</List>

		<List title = "Ação" category = "acao">
			<img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/uuBvVQVRUXYdoBRo0HqOhFOoYRZ.jpg" class = "carousel-item" width = "300px" height = "300px" />
			<img src="https://media.fstatic.com/2KGz9iTGq_EcSoKYRCeH749QD7o=/322x478/smart/filters:format(webp)/media/movies/covers/2011/06/05489415e8f4bbbb7fe4ce86ecc1a66e_1.jpg" class = "carousel-item" width = "300px" height = "300px" />
		</List>

		<List title = "Animação" category = "acao">
			<img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/uuBvVQVRUXYdoBRo0HqOhFOoYRZ.jpg" class = "carousel-item" width = "300px" height = "300px" />
			<img src="https://media.fstatic.com/2KGz9iTGq_EcSoKYRCeH749QD7o=/322x478/smart/filters:format(webp)/media/movies/covers/2011/06/05489415e8f4bbbb7fe4ce86ecc1a66e_1.jpg" class = "carousel-item" width = "300px" height = "300px" />
		</List>
	</div>

</Layout>