---
import Layout from '../layouts/formLayout.astro';
import Card from '../components/formComponents/formCard.astro';
import FormField from "../components/formComponents/formField.astro";
import StardewBackground from '../components/pageComponents/stardewBackground.astro';
import Toast from "../components/formComponents/toast.astro";

---

<Layout title="Login">

	<script>

		import * as yup from "yup";
		import sleep from 'sleep-promise';
		import Axios from "axios";
		import Cookies from "js-cookie";

		if (Cookies.get ("lctoken")) {
			window.location = "/";
		}

		function login (event) {

			event.preventDefault ();

			let data = {
				email : document.querySelector ("#email").value,
				password : document.querySelector ("#password").value
			}

			let validation = yup.object ().shape ({
				email : yup.string().email().required(),
				password : yup.string().required().min(8)
			});

			validation.validate (data).then (() => {
				Axios.post ("http://localhost:5000/luminacritics/users/login" , data)
				.then ((response) => {
					Cookies.set ("lctoken" , JSON.stringify (response.data));
					window.location ="/";
				})
				.catch(async () => {
				let toast = document.getElementById("error");
				toast.style.display="block";
				await sleep(3000);
				toast.style.display="none";
			})
			})
			.catch(async () => {
				let toast = document.getElementById("error");
				toast.style.display="block";
				await sleep(3000);
				toast.style.display="none";
			});

		}

		document.getElementById ("button").addEventListener ("click" , login)
	</script>

	<main>
		<StardewBackground />
		<Card
				href="/retrieve"
				title="Login"
				description="Aqui você pode desbravar o universo dos filmes, séries, animes e muito mais."
				hrefText = "Esqueceu a senha ?"
				submitValue = "Login"
				hrefTwo = "/signup"
				hrefTwoText = "Não tenho conta"
			>
			<FormField
					type = "email"
					title = "Email"
					id = "email"
			/>
			<FormField
					type = "password"
					title = "Senha"
					id = "password"
			/>

		</Card>
		<Toast message="Credenciais inválidas ou usuário não existe" id = "error"/>
	</main>
	
</Layout>