---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Login">

	<script>

	</script>

	<main>
			<h1>Titulo</h1>
	</main>
</Layout>