---
import Layout from '../layouts/formLayout.astro';
import Card from '../components/formComponents/formCard.astro';
import FormField from "../components/formComponents/formField.astro";
import StardewBackground from '../components/pageComponents/stardewBackground.astro';
import Toast from "../components/formComponents/toast.astro";

---

<Layout title="Cadastro">

	<script>

		import * as yup from "yup";
		import sleep from 'sleep-promise';
		import Axios from "axios";
		import Cookies from "js-cookie";

		if (Cookies.get ("lctoken")) {
			window.location = "/";
		}

		function login (event) {

			event.preventDefault ();

			let data = {
                name : document.querySelector ("#name").value,
                password : document.querySelector ("#password").value,
				email : document.querySelector ("#email").value
			}

			let validation = yup.object ().shape ({
                name : yup.string().min(5).max(20),
                password : yup.string().required().min(8),
				email : yup.string().email().required()
                
			});

			validation.validate (data).then (() => {
				Axios.post ("http://localhost:5000/luminacritics/users/create" , data)
				.then (async () => {
					let toast = document.getElementById("success");
					toast.style.display="block";
					await sleep(3000);
					toast.style.display="none";
					await sleep(800);
					window.location = "/login";
				})
				.catch(async () => {
				let toast = document.getElementById("error");
				toast.style.display="block";
				await sleep(3000);
				toast.style.display="none";
			});
			})
			.catch(async () => {
				let toast = document.getElementById("error");
				toast.style.display="block";
				await sleep(3000);
				toast.style.display="none";
			});

		}

		document.getElementById ("button").addEventListener ("click" , login)
	</script>

	<main>
		<StardewBackground />
		<Card
			href="/login"
			title="Cadastro"
			description="Aqui você pode desbravar o universo dos filmes, séries, animes e muito mais. Tudo isso a uma conta de distância."
			hrefText = "Já tem conta ?"
			submitValue = "Cadastrar"
			hrefTwo = ""
			hrefTwoText = ""
		>
			<FormField
				type = "text"
				title = "Nome"
				id = "name"
			/>
			<FormField
				type = "password"
				title = "Senha"
				id = "password"
			/>
            <FormField
				type = "email"
				title = "Email"
				id = "email"
			/>

		</Card>
		<Toast message="Credenciais inválidas ou email já cadastrado" id = "error"/>
		<Toast message="Conta criada" id = "success"/>

	</main>
</Layout>